In [62]:
import warnings
warnings.filterwarnings('ignore')

First,  import Sequential,Dense, Adam from keras and we import numpy and pandas

In [63]:
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
import pandas as pd

Here, in this section we are reading the dataset and storing it in to the data variable.

In [64]:
data=pd.read_csv("one.csv")
data.head()

   Patient_Number  ...  Adrenal_and_thyroid_disorders
0               1  ...                              1
1               2  ...                              0
2               3  ...                              0
3               4  ...                              0
4               5  ...                              0

[5 rows x 14 columns]

The dataset consists of 2000 rows and 14 columns.

In [65]:
data.shape

(2000, 14)

Next, check for the Nan values in the dataset.

In [66]:
data.isnull().any()

Patient_Number                   False
Blood_Pressure_Abnormality       False
Level_of_Hemoglobin              False
Genetic_Pedigree_Coefficient      True
Age                              False
BMI                              False
Sex                              False
Smoking                          False
Physical_activity                False
salt_content_in_the_diet         False
alcohol_consumption_per_day       True
Level_of_Stress                  False
Chronic_kidney_disease           False
Adrenal_and_thyroid_disorders    False
dtype: bool

After checking Nan values as you can see in the above output Genetic_Pedigree_Coefficient,alcohol_consumption_per_day consist of Nan values so, replace those Nan values with mean values.

In [67]:
data=data.fillna(data.mean())
data

      Patient_Number  ...  Adrenal_and_thyroid_disorders
0                  1  ...                              1
1                  2  ...                              0
2                  3  ...                              0
3                  4  ...                              0
4                  5  ...                              0
...              ...  ...                            ...
1995            1996  ...                              0
1996            1997  ...                              1
1997            1998  ...                              1
1998            1999  ...                              1
1999            2000  ...                              0

[2000 rows x 14 columns]

Next, import MinMaxScaler.
Minmaxscaler is used to translate each feature individually between 0 to 1.Next fit transform is formed.

In [68]:
from sklearn.preprocessing import MinMaxScaler
ms=MinMaxScaler()
data=ms.fit_transform(data)
print(data)
print(data.shape)

[[0.00000000e+00 1.00000000e+00 3.36152220e-01 ... 5.00000000e-01
  1.00000000e+00 1.00000000e+00]
 [5.00250125e-04 0.00000000e+00 1.74418605e-01 ... 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.00050025e-03 1.00000000e+00 2.84355180e-01 ... 5.00000000e-01
  1.00000000e+00 0.00000000e+00]
 ...
 [9.98999500e-01 1.00000000e+00 9.31289641e-01 ... 5.00000000e-01
  1.00000000e+00 1.00000000e+00]
 [9.99499750e-01 0.00000000e+00 3.22410148e-01 ... 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [1.00000000e+00 1.00000000e+00 3.44608879e-01 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]]
(2000, 14)

Next, Data frame is created.It is two dimensional datastructure i.e., data is aligned in the tabular format.

In [69]:
dataset=pd.DataFrame(data=data[0:,0:])

X contains the data from 2 to 14 as inputs
and Y contains the 1st column as output.

In [70]:
X=dataset.iloc[:,2:].values
Y=dataset.iloc[:,1:2].values

Here, train_test_split is imported.Next, training and testing is performed on X and Y to split the data.

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2,random_state=0)

In [72]:
print(y_test[0:5])

[[0.]
 [1.]
 [0.]
 [0.]
 [0.]]

In [73]:
print(X_train)

[[0.34249471 0.68       0.64912281 ... 0.5        1.         1.        ]
 [0.89429175 0.29       0.19298246 ... 0.         0.         1.        ]
 [0.95560254 0.86       0.28070175 ... 0.5        0.         1.        ]
 ...
 [0.44397463 0.96       0.57894737 ... 0.5        0.         0.        ]
 [0.53699789 0.12       0.10526316 ... 0.5        1.         0.        ]
 [0.22410148 0.49481656 0.68421053 ... 0.5        1.         1.        ]]

Next, sequential model is constructed with dense layer. Then, construct the dense layer with 12 neurons by specifying it with input dimension and  tanh activation function is used. Next, two dense layers are constructed with 12 neurons with tanh activation function.Finally, the  output dense layer with sigmoid activation function.

In [74]:
First_Layer_Size=12
model=Sequential()
model.add(Dense(First_Layer_Size,activation='tanh',input_dim=12))
model.add(Dense(First_Layer_Size,activation='tanh'))
model.add(Dense(First_Layer_Size,activation='tanh'))
model.add(Dense(1,activation='sigmoid'))
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 12)                156
_________________________________________________________________
dense_21 (Dense)             (None, 12)                156
_________________________________________________________________
dense_22 (Dense)             (None, 12)                156
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 13
=================================================================
Total params: 481
Trainable params: 481
Non-trainable params: 0
_________________________________________________________________

Complie the model as it is binary classification use loss function as binary crossentropy, set adam as optimizer and also use accuracy as metrics function.

In [75]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

Next, train the model with training dataset.

In [77]:
history=model.fit(X_train,y_train,batch_size=1,epochs=10,verbose=1)

Epoch 1/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4493 - accuracy: 0.7956
Epoch 2/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4405 - accuracy: 0.7950
Epoch 3/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4389 - accuracy: 0.8006
Epoch 4/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4291 - accuracy: 0.8081
Epoch 5/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4209 - accuracy: 0.8062
Epoch 6/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4160 - accuracy: 0.8150
Epoch 7/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4087 - accuracy: 0.8238
Epoch 8/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4062 - accuracy: 0.8213
Epoch 9/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.4050 - accuracy: 0.8156
Epoch 10/10
1600/1600 [==============================] - 2s 1ms/step - loss: 0.3895 - accuracy: 0.8263

Now, evaluate the model with test dataset.This will return loss and accuracy of the model.

In [79]:
score=model.evaluate(X_test,y_test,verbose=1)
print('Test loss: ',score[0])
print('Test accuracy: ',score[1])

13/13 [==============================] - 0s 1ms/step - loss: 0.3679 - accuracy: 0.8425
Test loss:  0.36788803339004517
Test accuracy:  0.8424999713897705

Finally, predicts the outcome of the model and compare it with expected output.

In [80]:
prediction=model.predict_classes(X_test)
c=0
for i in range(len(X_test)):
  if prediction[i]==y_test[i]:
    c=c+1
print(c)

337